/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';

/* component styling */
@import '../server/components/card/card.css';

body {
  --background: #111827;
  --background-secundair: #233043;
  --text: #edeae2;
  --accent: #007acc;
  --accent-interact: #005fa3;
  color: black;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}