<div class="camera-container">
    <div class="camera-top">
        <div class="camera-top-side">
            <div class="camera-tag">
                <p>1000</p>
            </div>
            <div class="camera-button">
                <div class="camera-button-gap">
                    <div class="camera-button-shutter">
                        <audio src="audio/camerashutter.mp3" id="shutter-sound"></audio>
                        <button id="captureButton"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="camera-top-middle">
            <div class="rainbow-top"></div>
            <div class="lens">
                <div class="lens-inner">
                    <div class="lens-glass">
                        <div class="lens-glare"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="camera-top-side">
            <div class="viewfinder">
                <div class="viewfinder-gap">
                    <div class="viewfinder-glass">
                        <div class="viewfinder-lens">
                            <div class="viewfinder-lens-inner"></div>
                            <div class="viewfinder-glare"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lightmeter">
                <div class="lightmeter-dial">
                    <div class="lightmeter-dial-top"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="camera-middle">
        <div class="rainbow-middle"></div>
    </div>
    <div class="camera-bumper">
        <div class="rainbow-bumper"></div>
    </div>
    <div class="camera-bottom">
        <div class="camera-front">
            <p>POLAROID LAND CAMERA</p>
        </div>
        <div class="tongue-top"></div>
        <div class="tongue"></div>
        <div class="tongue-gap"></div>
    </div>
</div>
<section class="polaroid-container">
    <div class="captured-polaroid">
        <img src="images/blank.png" id="photo" alt="Captured photo">
    </div>
</section>